<div class="sw4_notify" ng-cloak>
    <sw-alert></sw-alert>
<div class="main" ng-cloak>
    <div class="navbar navbar-inverse navbar-fixed-top"
         role="navigation"
         id="navbar">
        <div class="container-fluid" style="height:90px;">
            <div class="navbar-header col-md-2">
                <button type="button"
                        class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target=".navbar-collapse">
                </button>
                <a href="#" class="navbar-brand">
                    <img ng-src="../assets/images/logo.png" width="170" />
                </a>
            </div>
            <div class="col-md-3 col-sm-3 pull-left mar-top-27">
                <property-list></property-list>
            </div>
            <sw-menu for="horzmenu" template-url="top"></sw-menu>
        </div>
    </div>
    <div class="breadcrumb-main">
        <ui-breadcrumbs
            displayname-property="data.displayName"
            abstract-proxy-property="data.proxy"
            template-url="/swapp/home/views/uiBreadcrumbs.tpl.html">
        </ui-breadcrumbs>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar amazonmenu" id="mysidebarmenu" >
                <sw-menu for="vertmenu" template-url="left" class="menu-vertical"></sw-menu>
            </div>
            <div class="col-sm-12 main" ui-view></div>
        </div>
    </div>
</div>
<div ng-if="debug" ng-cloak>
    <sw-debug></sw-debug>
</div>
